@media screen and (min-width: 360px) {

    .contact-container {
        text-align: center;
        background-color: var(--secondary-color);
        padding-bottom: 2rem;
        margin-top: 4rem;
        max-width: 100%;
        height: auto;
    }

    .contact-container h1 {
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--primary-color);
        margin: 1rem 0 1rem 0;
    }

    .contact-container .contact-icons {
        display: none;
    }

    .contact-container .contact-icons-mobile {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .contact-container .contact-icons-mobile img{
        width: 2rem;
        height: auto;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .cop{
        font-size: 12px;
        text-align: center;
        padding: .5rem;
    }

    .contact-container .contact-tel p:nth-child(3){
        display: none;
    }
}

@media screen and (min-width: 768px) {

    .contact-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        padding-bottom: 0;
    }

    .contact-container h1 {
        font-size: 2rem;
    }

    .contact-container .contact-icons {
        display: block;
        display: flex;
        margin-top: 2rem;
    }

    .contact-container .contact-icons img{
        width: 2rem;
        height: auto;
        margin-right: .5rem;
    }

    .contact-container .contact-icons-mobile {
        display: none;
    }

    .contact-container .contact-info {
        text-align: start;
    }

    .contact-container .contact-tel {
        display: flex;
    }

    .cop{
        font-size: 16px;
        padding: 1rem;
    }

    .contact-container .contact-tel p:nth-child(3){
        display: block;
    }
}

@media screen and (min-width: 768px) {

    .contact-container h1 {
        font-size: 3rem;
    }

    .contact-container .contact-tel p {
        font-size: 1rem;
        margin-right: .5rem;
    }

}

@media screen and (min-width: 1024px) {
    
    .contact-container .contact-info {
        line-height: 4rem;
    }

    .contact-container .contact-icons a{
        margin-right: 1rem;
    }

    .contact-container .contact-tel p {
        font-size: 1.4rem;
        margin-right: .5rem;
    }
}